<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Affichage de l'heure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monitor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/monitor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>

<body class="bg-black">
    <main>
        <div id="text_container"></div>
        <br><br>
        <div id="clock_container"></div>
    </main>
</body>

</html>